<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:context="http://www.springframework.org/schema/context"
             xmlns:p="http://www.springframework.org/schema/mvc"
             xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <http auto-config="false" use-expressions="true" entry-point-ref="loginUrlAuthenticationEntryPoint">

        <csrf disabled="true"/>

        <access-denied-handler error-page="/403"/>

        <intercept-url pattern="/" access="permitAll"/>
        <intercept-url pattern="/api/**" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/file/**" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/secure/**" access="hasRole('ROLE_ADMIN')"/>

        <custom-filter position="CONCURRENT_SESSION_FILTER" ref="concurrencyFilter"/>
        <custom-filter before="FORM_LOGIN_FILTER" ref="myAuthFilter"/>
        <custom-filter before="BASIC_AUTH_FILTER" ref="myAuthFilter"/>

        <session-management session-authentication-strategy-ref="sas"/>
        <logout delete-cookies="JSESSIONID" logout-url="/logout" invalidate-session="true"/>

    </http>


    <beans:bean id="loginUrlAuthenticationEntryPoint"
                class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg index="0" value="/401" type="java.lang.String"/>
        <beans:property name="useForward" value="true"/>
    </beans:bean>

    <beans:bean id="concurrencyFilter"
                class="org.springframework.security.web.session.ConcurrentSessionFilter">
        <beans:constructor-arg index="0" ref="sessionRegistry"/>
        <beans:constructor-arg index="1" value="/logout" type="java.lang.String"/>
    </beans:bean>


    <beans:bean id="myAuthFilter" class=
            "org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <beans:property name="sessionAuthenticationStrategy" ref="sas"/>
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationFailureHandler" ref="loginFailureHandler"/>
        <beans:property name="authenticationSuccessHandler" ref="loginSuccessHandler"/>
        <!--<beans:property name="filterProcessesUrl" value="/"/>-->

    </beans:bean>


    <beans:bean id="loginSuccessHandler"
                class="org.springframework.security.web.authentication.SavedRequestAwareAuthenticationSuccessHandler">
        <beans:property name="defaultTargetUrl" value="/login/getuser"/>
        <beans:property name="alwaysUseDefaultTargetUrl" value="true"/>


    </beans:bean>

    <beans:bean id="loginFailureHandler"
                class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
        <beans:constructor-arg index="0" type="java.lang.String" value="/login/getuser"/>

    </beans:bean>


    <beans:bean id="sas"
                class="org.springframework.security.web.authentication.session.CompositeSessionAuthenticationStrategy">
        <beans:constructor-arg>
            <beans:list>
                <beans:bean
                        class="org.springframework.security.web.authentication.session.ConcurrentSessionControlAuthenticationStrategy">
                    <beans:constructor-arg ref="sessionRegistry"/>
                    <beans:property name="maximumSessions" value="1"/>
                    <beans:property name="exceptionIfMaximumExceeded" value="true"/>
                </beans:bean>
                <beans:bean
                        class="org.springframework.security.web.authentication.session.SessionFixationProtectionStrategy">
                </beans:bean>
                <beans:bean
                        class="org.springframework.security.web.authentication.session.RegisterSessionAuthenticationStrategy">
                    <beans:constructor-arg ref="sessionRegistry"/>
                </beans:bean>
            </beans:list>
        </beans:constructor-arg>
    </beans:bean>


    <beans:bean id="sessionRegistry"
                class="org.springframework.security.core.session.SessionRegistryImpl"/>


    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref='userDetailsService'>
            <password-encoder hash="plaintext"/>
        </authentication-provider>
    </authentication-manager>


</beans:beans>