<div class="modal-header">
    <button class="close glyphicon glyphicon-remove" ng-click="vm.cancel()"></button>
    <h4 class="modal-title">Add task</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">

        <div class="form-group">
            <label for="inputProjectName1" class="col-sm-2 control-label">Пожелание</label>

            <div class="col-sm-10">
                <input type="text" ng-model="vm.addTask.project.name" class="form-control" ng-disabled="true"
                       id="inputProjectName1">
            </div>
        </div>

        <div class="form-group">
            <label for="inputName1" class="col-sm-2 control-label">Name2</label>

            <div class="col-sm-10">
                <input type="text" ng-model="vm.addTask.name" class="form-control" id="inputName1"
                       placeholder="Name">
            </div>
        </div>
        <div class="form-group">
            <label for="inputDescription" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                                <textarea rows="7" type="text" ng-model="vm.addTask.description" class="form-control"
                                          id="inputDescription" placeholder="Description">
                                </textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPriority" class="col-sm-2 control-label">Priority</label>

            <div class="col-sm-10">
                <select id="inputPriority" class="form-control" name="singleSelect2"
                        ng-model="vm.addTask.priority">
                    <option selected value="LOW">LOW</option>
                    <option value="MEDIUM">MEDIUM</option>
                    <option value="HIGH">HIGH</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label for="inputStatus" class="col-sm-2 control-label">Status</label>

            <div class="col-sm-10">
                <select id="inputStatus" class="form-control" name="singleSelect"
                        ng-model="vm.addTask.status">
                    <option selected value="TODO">Todo</option>
                    <option value="DOING">Doing</option>
                    <option value="DONE">Done</option>
                </select>

            </div>
        </div>
        <div class="form-group">
            <label for="inputPerformerEdit" class="col-sm-2 control-label">Performer</label>

            <div class="col-sm-10">
                <ui-select ng-model="vm.addTask.performer" id="inputPerformerEdit">
                    <ui-select-match placeholder="SELECT USER">{{$select.selected.username}}
                    </ui-select-match>
                    <ui-select-choices repeat="item in vm.users | filter: $select.search track by item.id"
                                       refresh="vm.getUsers($select.search)"
                                       refresh-delay="1">
                        <span ng-bind="item.username"></span>
                    </ui-select-choices>
                </ui-select>

            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="vm.saveTask()" class="btn btn-default">Save task</button>
            </div>
        </div>
    </form>
    <br>
</div>
